---
import { AboutMeDescription } from './AboutMeDescription.jsx'
// import './AboutMeDescription.scss'
---
<section class="detail aboutMe">
    <div class="content">
        <h2>About Me</h2>
        <p>This is the <i>short</i> version (Ya this is short).</p>
        <AboutMeDescription client:load></AboutMeDescription>
    </div>
    <div class="image">

    </div>
</section>