---
import SocialCard from "./SocialCard.astro";
import "../portfolio.scss"
---

<style lang="scss">
    .socials{
        display: flex;
        gap:20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 60px;
    }
    svg{
        width:40%;        
        height:40%;        
    }
</style>
<section class="detail row">
    <div class="content">
        <h2>Contact Me</h2>
        <p>You can hit me up on any social media below or just send me a mail.</p>
    </div>
    <div class="socials">
        <SocialCard href="https://twitter.com/saptam_kumar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.627 64.744">
                <path id="Path_138" data-name="Path 138" d="M140.475,100h10.983l-24,27.425,28.228,37.319h-22.1L116.277,142.11,96.469,164.744H85.479l25.665-29.334L84.064,100h22.664l15.648,20.688Zm-3.855,58.17h6.086l-39.285-51.941H96.89Z" transform="translate(-84.064 -100)" fill="#bb7a4f"/>
            </svg>
        </SocialCard>
        <SocialCard href="mailto:saptampro2003@gmail.com">
            <svg id="gmail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.738 51.907">
                <path id="Path_133" data-name="Path 133" d="M37.3,39.133,5.936,19.171A7.415,7.415,0,1,1,13.9,6.661L36.909,21.3,57.571,6.841a7.415,7.415,0,1,1,8.5,12.15Z" transform="translate(-2.5 -5.5)" fill="#d29871"/>
                <path id="Path_134" data-name="Path 134" d="M4.944,0h9.887V44.492a7.415,7.415,0,0,1-7.415,7.415h0A7.415,7.415,0,0,1,0,44.492V4.944A4.944,4.944,0,0,1,4.944,0Z" transform="translate(66.738 51.907) rotate(180)" fill="#bb7a4f"/>
                <path id="Path_135" data-name="Path 135" d="M38.223,11.837c-.022-.148-.02-.3-.051-.448-.047-.227-.136-.437-.2-.656a7.249,7.249,0,0,0-.237-.74c-.049-.117-.126-.22-.182-.335a7.375,7.375,0,0,0-.532-.95c-.1-.144-.222-.266-.332-.4a7.485,7.485,0,0,0-.607-.7c-.164-.16-.352-.294-.53-.438a7.467,7.467,0,0,0-.593-.459c-.2-.128-.411-.227-.618-.336s-.433-.238-.66-.329-.454-.145-.684-.212a7.051,7.051,0,0,0-.694-.192,7.55,7.55,0,0,0-.882-.089c-.188-.013-.373-.046-.562-.044a7.36,7.36,0,0,0-1.043.105c-.139.021-.279.019-.417.048q-.7.214-1.4.44c-.127.054-.239.135-.362.2A7.171,7.171,0,0,0,23.5,12.911V27.153l11.667-8.167a7.138,7.138,0,0,0,3.055-7.149Z" transform="translate(28.406 -5.495)" fill="#ffc097"/>
                <path id="Path_136" data-name="Path 136" d="M9.915,5.5h0a7.415,7.415,0,0,1,7.415,7.415V57.407H7.444A4.944,4.944,0,0,1,2.5,52.463V12.915A7.415,7.415,0,0,1,9.915,5.5Z" transform="translate(-2.5 -5.5)" fill="#bb7a4f"/>
                <path id="Path_137" data-name="Path 137" d="M2.607,11.838c.022-.148.02-.3.051-.448.047-.227.136-.437.2-.656A7.245,7.245,0,0,1,3.1,10c.049-.117.126-.22.182-.335a7.346,7.346,0,0,1,.532-.951c.1-.144.222-.266.332-.4a7.483,7.483,0,0,1,.607-.7c.164-.16.352-.294.531-.438a7.417,7.417,0,0,1,.593-.459c.2-.128.411-.227.618-.336a7.352,7.352,0,0,1,.66-.331c.22-.088.454-.145.684-.212a7.032,7.032,0,0,1,.694-.192,7.554,7.554,0,0,1,.882-.089c.188-.013.373-.046.562-.044a7.357,7.357,0,0,1,1.043.105c.139.021.279.019.418.048a7.182,7.182,0,0,1,.707.219,7.207,7.207,0,0,1,.688.22c.127.054.239.135.362.2a7.352,7.352,0,0,1,.925.519,7.4,7.4,0,0,1,3.212,6.1V27.154L5.662,18.987A7.141,7.141,0,0,1,2.607,11.838Z" transform="translate(-2.498 -5.496)" fill="#974a18"/>
            </svg>
        </SocialCard>
        <SocialCard href="https://github.com/Sapython/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.984 82.711">
                <path id="Subtraction_3" data-name="Subtraction 3" d="M39.626,82.711a48.9,48.9,0,0,1-13.454-1.877,3.028,3.028,0,0,0,.107-.8c0-.584-.011-1.8-.024-3.333v-.009c-.016-1.882-.037-4.224-.049-6.669a27.533,27.533,0,0,1-5.8.673,16.415,16.415,0,0,1-6.164-1.1,11.826,11.826,0,0,1-3.775-2.412,9.689,9.689,0,0,1-2.41-3.509,18.212,18.212,0,0,0-3.909-6.264,8.422,8.422,0,0,0-2.071-1.6C.542,54.759-.149,53.939.027,53.371c.249-.805,2.179-.829,2.4-.829h.024A9.035,9.035,0,0,1,6.02,53.568,11.268,11.268,0,0,1,8.6,55.455a12.578,12.578,0,0,1,2.1,2.628c2.279,3.9,5.479,5.877,9.509,5.877a15.479,15.479,0,0,0,6.164-1.407A11.545,11.545,0,0,1,29.8,55.362a44.1,44.1,0,0,1-8.881-1.827,23.376,23.376,0,0,1-7.874-4.242,19.251,19.251,0,0,1-3.173-3.4A21.05,21.05,0,0,1,7.41,41.442a27.605,27.605,0,0,1-1.588-5.652,40.907,40.907,0,0,1-.564-7,20.751,20.751,0,0,1,5.55-14.434A15.76,15.76,0,0,1,9.762,9.511,21.527,21.527,0,0,1,11.329.127,4.512,4.512,0,0,1,12.53,0c1.97,0,6.359.732,13.613,5.636a49.223,49.223,0,0,1,6.636-1.346,53.832,53.832,0,0,1,6.847-.467,53.948,53.948,0,0,1,6.847.466,49.389,49.389,0,0,1,6.644,1.344C60.363.732,64.746,0,66.714,0a4.422,4.422,0,0,1,1.2.124,21.5,21.5,0,0,1,1.573,9.384,15.77,15.77,0,0,1-1.045,4.845,20.715,20.715,0,0,1,5.543,14.434,40.968,40.968,0,0,1-.565,7.015,27.559,27.559,0,0,1-1.591,5.656,20.964,20.964,0,0,1-2.463,4.448,19.16,19.16,0,0,1-3.18,3.392,23.34,23.34,0,0,1-7.891,4.217,44.423,44.423,0,0,1-8.9,1.8,9.741,9.741,0,0,1,2.552,3.724,16.539,16.539,0,0,1,1.1,6.234c0,4.806-.028,8.99-.046,11.759v0c-.009,1.4-.016,2.405-.016,2.993a3.1,3.1,0,0,0,.1.8A48.915,48.915,0,0,1,39.626,82.711ZM20.669,64.82h-.03c-.645.012-1.15.373-1.15.823.006.431.515.781,1.134.781h.039a1.356,1.356,0,0,0,.952-.363.618.618,0,0,0-.011-.9A1.337,1.337,0,0,0,20.669,64.82Zm4.235-.526a1.7,1.7,0,0,0-.288.025c-.627.115-1.076.565-1,1a.939.939,0,0,0,.994.608,1.585,1.585,0,0,0,.29-.027c.63-.117,1.081-.563,1-.994A.931.931,0,0,0,24.9,64.294Zm-8.86-.185a.849.849,0,0,0-.879.5c-.124.423.272.918.883,1.1a1.627,1.627,0,0,0,.458.068.866.866,0,0,0,.889-.5c.125-.424-.27-.918-.881-1.1A1.579,1.579,0,0,0,16.044,64.109Zm-3.859-2.338a.649.649,0,0,0-.494.2c-.3.327-.161.944.306,1.375a1.353,1.353,0,0,0,.894.4.638.638,0,0,0,.49-.2.626.626,0,0,0,.17-.469,1.348,1.348,0,0,0-.465-.905A1.371,1.371,0,0,0,12.185,61.771ZM9.593,58.714a.543.543,0,0,0-.315.094.585.585,0,0,0-.241.389,1.235,1.235,0,0,0,.232.893,1.192,1.192,0,0,0,.894.555.53.53,0,0,0,.31-.092c.338-.234.341-.8.009-1.294A1.179,1.179,0,0,0,9.593,58.714Zm-2.15-2.747a.483.483,0,0,0-.51.5A1.193,1.193,0,0,0,8,57.583a.5.5,0,0,0,.349-.125.507.507,0,0,0,.164-.368,1.084,1.084,0,0,0-.315-.749A1.1,1.1,0,0,0,7.443,55.967Zm-2.185-1.85a.507.507,0,0,0-.5.268.421.421,0,0,0,0,.332.9.9,0,0,0,.488.475.985.985,0,0,0,.42.1.523.523,0,0,0,.5-.263.408.408,0,0,0,.011-.327.9.9,0,0,0-.491-.482A1.012,1.012,0,0,0,5.259,54.117Z" fill="#bb7a4f"/>
            </svg>
        </SocialCard>
        <SocialCard href="https://www.linkedin.com/in/kumar-saptam/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.17 65.171">
                <path id="linkedin-plain" d="M63.363,3H7.808A4.76,4.76,0,0,0,3,7.7V63.48a4.76,4.76,0,0,0,4.808,4.69H63.363a4.77,4.77,0,0,0,4.808-4.706V7.685A4.77,4.77,0,0,0,63.363,3ZM22.321,58.555H12.647V27.428h9.674ZM17.514,23.187a3.072,3.072,0,1,0-.027-.011ZM58.555,58.555H48.881V43.411c0-3.606-.064-8.248-5.027-8.248s-5.807,3.932-5.807,8.013V58.555H28.39V27.428h9.273V31.7h.128a10.162,10.162,0,0,1,9.151-5.027c9.8-.021,11.613,6.426,11.613,14.786Z" transform="translate(-3 -3)" fill="#bb7a4f"/>
            </svg>          
        </SocialCard>
    </div>
</section>