---
const { href } = Astro.props;
---
<style lang="scss">
    a{
        $size:100px;
        width:$size;
        height:$size;
        border-radius: calc($size / 2);
        box-shadow:inset 0 3px 5px #BB7A4F, 0 3px 30px rgba(#000000,35%);
        display:grid;
        place-items:center;
        transition: box-shadow 0.3s ease-in-out;
        background:#131313;
        &:hover{
            box-shadow:inset -2px 2px 5px #BB7A4F, 5px -3px 30px rgba(#000000,35%);
            cursor: pointer;
        }
        @media screen and (max-width: 850px) {
            $size: 70px;
            width: $size;
            height: $size;
        }
    }
</style>
<a href={href} target="_blank">
    <slot />
</a>