---
import Layout from "../layouts/Layout.astro"

// Shared components
import Spacer from "../shared/components/Spacer.astro"

// Part of pages
import PortfolioHeader from '../components/portfolio/PortfolioHeader/PortfolioHeader.astro'
import WhatCanIDo from "../components/portfolio/WhatCanIDo/WhatCanIDo.astro"
import WhatHaveIDone from "../components/portfolio/WhatHaveIDone/WhatHaveIDone.astro"
import WhomIHaveWorkedWith from "../components/portfolio/WhomIHaveWorkedWith/WhomIHaveWorkedWith.astro"
import AboutMe from "../components/portfolio/AboutMe/AboutMe.astro"
import ContactMe from "../components/portfolio/ContactMe/ContactMe.astro"
---

<style is:global>
    @import url('/fonts/_devicon.min.css');
    @import url('/fonts/_amsterdam_one_font.scss');
    @import url('/fonts/_azonix_font.scss');
    @import url('/fonts/_rusty_cage_font.scss');
    @import url('/fonts/_cascadiya_code_font.scss');
</style>
<!-- <div class="progressBar">
    <div id="loader">
        <div id="progressBar"></div>
        <div id="progressText">0%</div>
    </div>
    <div id="content" style="display: none;">
    </div>
</div> -->
<Layout title="Kumar Saptam">
    <PortfolioHeader></PortfolioHeader>
    <Spacer margin="large"></Spacer>
    <WhatCanIDo></WhatCanIDo>
    <Spacer margin="large"></Spacer>
    <WhatHaveIDone></WhatHaveIDone>
    <Spacer margin="large"></Spacer>
    <WhomIHaveWorkedWith></WhomIHaveWorkedWith>
    <Spacer margin="large"></Spacer>
    <AboutMe></AboutMe>
    <Spacer margin="large"></Spacer>
    <ContactMe></ContactMe>
    <Spacer margin="large"></Spacer>
    <Spacer margin="large"></Spacer>
</Layout>
<script is:inline>
    
</script>