---
import Layout from "../layouts/Layout.astro"

---

<style is:global>
    @import url('/fonts/_devicon.min.css');
    @import url('/fonts/_amsterdam_one_font.scss');
    @import url('/fonts/_azonix_font.scss');
    @import url('/fonts/_rusty_cage_font.scss');
    @import url('/fonts/_cascadiya_code_font.scss');
</style>
<Layout title="Kumar Saptam">
    <button>Pay Now</button>
</Layout>